.ft-modal {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
        z-index: 9999;	
        overflow: auto;
	position: fixed;
        visibility: hidden;
	margin-top: -250px;
	background: rgba(0,0,0,.8);
	
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
 
.ft-modal:target {
	opacity: 1;
	margin-top: 0px;
	visibility: visible;	
}
 
.ft-modal-content {
	width: 70%;
    padding: 25px;
	background: #FFF;
	max-width: 600px;
    margin: 70px auto;
	position: relative;
	border-radius: 8px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
 
/*
.ft-modal-close {
	top: 9px;
	right: 12px;
	float: right;
	position: absolute;
}
*/
